{{bread-crumbs categories=categories}}

<ul class="nav nav-pills" id='navigation-bar'>
  {{#each navItem in navItems}}
    {{navigation-item content=navItem filterMode=filterMode}}
  {{/each}}
</ul>



{{#if canCreateTopic}}

  <button id="create-topic" class='btn btn-default' {{action createTopic}}><i class='fa fa-plus'></i>{{i18n topic.create}}</button>

    <button class='btn btn-default' {{action composePrivateMessage}}>
      <i class='fa fa-envelope'></i>
      {{i18n user.private_message}}
    </button>
{{/if}}
